* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.white {
  background: #fff;
}

.gray {
  background: #efefef;
}

.paralax {
  width: 100%;
  height: 100%;
  /*background-attachment: fixed;*/
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.paralax .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
}

/*********************************************/

.header-white,
.white-header {
  background: #fff;
}

.header-white a,
.white-header .links a {
  color: #181818;
}

.header img,
.header-white img,
.white-header img {
  height: 100px;
  width: auto;
}

.paralax .links {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  font-size: 0.9em;
}

.nav-links li {
  padding: calc(50px - 11px + 3px) 0;
  border-bottom: 4px solid transparent;
  margin-right: 50px;
  cursor: pointer;
}

@media screen and (min-width: 1160px) {
  .hamburger,
  .hamburger-white {
    display: none;
  }
}

/*------------------------------------------------------*/

.hamburger,
.hamburger-white {
  width: 40px;
  background: transparent;
  cursor: pointer;
}

.hamburger .line,
.hamburger-white .line {
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 100%;
  height: 4px;
  background: #fff;
}

.hamburger-white .line {
  background: #464646;
}

.hamburger .line.middle,
.hamburger-white .line.middle {
  position: relative;
}

.hamburger .line.top,
.hamburger .line.bottom,
.hamburger-white .line.top,
.hamburger-white .line.bottom {
  position: absolute;
}

.hamburger .line.top,
.hamburger-white .line.top {
  top: -6px;
}

.hamburger .line.bottom,
.hamburger-white .line.bottom {
  top: 6px;
}

.hamburger:hover .line,
.hamburger-white:hover .line {
  background: #b28564;
}

.rotate-top {
  transform: rotate(45deg);
}

.rotate-bottom {
  transform: rotate(-45deg);
}

/*------------------------------------------------------*/

.nav-links a {
  font-size: 15px;

  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: #b28564;
}

.links .selected {
  border-bottom: 4px solid #b28564;
}

.social {
  display: flex;
  margin-left: 1em;
}

.social li {
  margin-right: 1em;
  transition: 0.4s;
}

.social li a {
  font-size: 15px;
  color: #fff;
  transition: 0.4s;
}

.social li a:hover {
  color: #b28564;
}

.social li:hover {
  transform: scale(0.95);
}

.paralax.container {
  padding-top: calc(16em - 100px);
  padding-bottom: 8em;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.container .paralax-text {
  color: #fff;
  width: 65%;
}

.line.black {
  background: #464646;
}

.paralax-text.black-text {
  color: #181818;
}

.paralax-text p {
  font-size: 1.6em;
  margin-bottom: 1.5em;
}

.paralax-text h1 {
  text-transform: uppercase;
  font-size: 3.8em;
  width: 40%;
  margin-bottom: 1.5em;
  font-family: "Roboto Slab";
  min-width: 600px;
}

.paralax-text a {
  color: #fff;
  letter-spacing: 1px;
  padding: 0.9em 1.8em;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid #fff;
  transition: 0.5s;
}

.paralax-text a:hover {
  color: #b28564;
  border-color: #b28564;
}

.beer-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8em 0;
  font-family: "Roboto Condensed", sans-serif;
}

.white .container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.beer-up .image {
  width: 30%;
}

.beer-up .image img {
  width: 100%;
  height: 100%;
}

.beer-up .text {
  width: 60%;
}

.beer-up h1 {
  font-size: 3.1em;
  margin-bottom: 1.5em;
}

.small-texts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.small-texts i {
  font-size: 3.6em;
  color: #b28564;
  transition: 0.5s;
  cursor: pointer;
}

.small-texts section {
  display: flex;
}

.small-texts h2 {
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  font-size: 1.3em;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.small-texts p {
  width: 80%;
  color: #181818;
  line-height: 1.8;
}

.content {
  margin-left: 1.5em;
}

.small-texts section:nth-child(3) i {
  font-size: 3em;
}

.small-texts i:hover {
  color: #181818;
}

.small-texts .content:hover h2 {
  color: #b28564;
}

.parallax-in-center-page-wrapper {
  position: relative;
  overflow: hidden;
}

.parallax-middle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.second-parallax .containerr {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.story-in-the-beer {
  padding: 8em 0 8em 0;
}

.story-in-the-beer p {
  margin-bottom: 1.5em;
  font-size: 1.3em;
  color: #b28564;
}

.story-in-the-beer h1 {
  font-size: 3.1em;
  margin-bottom: 1.5em;
  color: #fff;
  width: 62%;
}

.story-in-the-beer a {
  color: #b28564;
  letter-spacing: 1px;
  padding: 0.9em 1.8em;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid #b28564;
  transition: 0.5s;
  margin-bottom: 3em;
}

.story-in-the-beer a:hover {
  color: #181818;
  border-color: #181818;
}

.story-in-the-beer .text {
  width: 65%;
}

.products {
  padding: 8em 0 4em 0;
  font-family: "Roboto Slab";
}

.products .containerr {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  position: relative;
}

.products h1 {
  font-size: 2.5em;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.products .header {
  text-align: center;
}

.products .header p {
  color: #b28564;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.15em;
}

.all-products {
  position: relative;
  min-height: 600px;
  width: 98%;
  overflow: hidden;
}

.products .movable-products {
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  position: absolute;
  top: 0;
  left: 0;
}

.mov-mechanic {
  display: flex;
  align-items: center;
}

.mov-mechanic .left-arrow {
  margin-right: 5em;
}

.mov-mechanic .right-arrow {
  margin-left: 5em;
}

.mov-mechanic .left-arrow,
.mov-mechanic .right-arrow {
  margin-top: 2em;
}

.mov-mechanic i {
  font-size: 3em;
  color: #b28564;
  transition: 0.4s;
  font-weight: 200;
}

.mov-mechanic i:hover {
  color: #181818;
}

.movable-products .image {
  width: 70%;
}

.movable-products .image img {
  width: 100%;
}

.movable-products .description-product {
  width: 30%;
}

.description-product .price,
.description-product .text,
.description-product .link {
  padding: 0.8em 1em;
}

.description-product .link {
  padding: 1.5em;
}

.description-product .price {
  font-size: 1.6em;
  font-weight: 600;
  border: 1px solid #b28564;
  width: 75%;
}

.description-product .text h2 {
  margin-bottom: 1em;
  font-size: 1.6em;
  color: #181818;
  transition: 0.5s;
  cursor: pointer;
}

.description-product .text h2:hover {
  color: #b28564;
}

.description-product .text p {
  color: #464646;
  font-weight: 400;
}

.description-product .text {
  width: 75%;
  border-left: 1px solid #b28564;
  border-bottom: 1px solid #b28564;
  border-right: 1px solid #b28564;
}

.description-product .link {
  border-bottom: 1px solid #b28564;
  border-left: 1px solid #b28564;
  border-right: 1px solid #b28564;
  width: 75%;
}

.description-product .link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b28564;
  transition: 0.5s;
  font-weight: bold;
}

.description-product .link a:hover {
  color: #181818;
}

.gray .containerr {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.numbers {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Roboto Slab";
}

.numbers i {
  font-size: 3.6em;
  margin-bottom: 0.5em;
  color: #b28564;
}

.numbers .math {
  text-align: center;
}

.numbers h1 {
  font-size: 3em;
  color: #181818;
  margin-bottom: 0.3em;
}

.numbers p {
  font-size: 0.8em;
  color: #b28564;
}

.first-row,
.second-row {
  display: flex;
  align-items: center;
  font-family: "Roboto Slab";
  height: auto;
}

.text-images,
.full-image {
  width: 33.33%;
  text-align: center;
}

.full-image .image {
  width: 33.33%;
}

.full-image img {
  width: 100%;
}

.text-images .image {
  margin-bottom: 1.3em;
}

.text-images h3 {
  margin-bottom: 15px;
  font-size: 1.45em;
  color: #b28564;
}

.text-images p {
  font-size: 15px;
  line-height: 1.8;
  color: #181818;
  margin-bottom: 30px;
}

.text-images a {
  padding: 0.4em 1.2em;
  text-decoration: none;
  color: #b28564;
  transition: 0.5s;
  border: 1px solid #b28564;
  font-size: 15px;
}

.text-images a:hover {
  color: #181818;
  border-color: #181818;
}

.containerr {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.leader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2em;
  font-family: "Roboto Slab";
}

.leader .image {
  max-width: 50%;
}

.leader .image img {
  width: 100%;
}

.leader .text {
  margin-left: 2em;
  max-width: 50%;
}

.leader .text h2 {
  font-size: 3.1em;
  color: #181818;
}

.leader .text h3 {
  font-size: 1.45em;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  color: #b28564;
}

.leader .text p {
  line-height: 1.8;
  font-size: 15px;
  color: #181818;
  margin-bottom: 1.3em;
}

.leader .text span {
  font-size: 0.8em;
  color: #b28564;
}

.author {
  font-size: 1.2em;
  margin-top: 2em;
  font-weight: 600;
  margin-bottom: 1.8em;
}

.crew {
  padding: 6em 0 4em 0;
  font-family: "Roboto Slab";
}

.containerrr {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.crew .header {
  margin-bottom: 4em;
  text-align: center;
}

.crew .header h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 1em;
}

.crew .header p {
  color: #b28564;
  line-height: 1.8;
}

.whole-crew {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.specific-member {
  width: 32%;
}

.specific-member .image {
  width: 100%;
}

.specific-member .image img {
  width: 100%;
}

.specific-member .text {
  margin-top: 2em;
}

.specific-member .text h3 {
  font-size: 1.8em;
  letter-spacing: 1px;
  color: #181818;
}

.specific-member .text p {
  font-size: 0.9em;
  margin-top: 1.3em;
  color: #181818;
  padding-bottom: 2em;
  border-bottom: 1px solid #b9b9b9;
}

.specific-member .text .link {
  margin-top: 1.5em;
}

.specific-member .link a {
  color: #b28564;
  transition: 0.5s;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
}

.specific-member .link a:hover {
  color: #181818;
}

.map {
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.melbourne {
  max-width: 348px;
  font-family: "Roboto Slab";
  border: 1px solid #b28564;
  position: absolute;
  z-index: 5;
  bottom: 10%;
  left: 15%;
  background-color: #fff;
}

.melbourne img {
  width: 100%;
}

.melbourne h3 {
  padding: 0.9em 1.8em;
  color: #181818;
  font-size: 1.2em;
}

.melbourne p {
  line-height: 2;
  font-size: 15px;
  color: #181818;
  margin-left: 1.8em;
  margin-right: 1.8em;
  padding-bottom: 1.8em;
  border-bottom: 2px solid #b9b9b9;
}

.melbourne .link {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.2em;
  font-size: 0.875em;
  margin-top: 1.3em;
}

.melbourne i {
  margin-right: 0.5em;
  color: #b28564;
  transition: 0.5s;
}

.melbourne a {
  line-height: 1.8;
  padding-left: 1.8em;
  text-decoration: none;
  color: #b28564;
  transition: 0.5s;
  font-weight: bold;
}

.melbourne a:hover {
  color: #181818;
}

.melbourne i:hover {
  color: #181818;
}

.parallax-no3 {
  background-position: 50% 0;
  background-attachment: fixed;
  background-size: cover;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 8em 0 4em 0;
  font-family: "Roboto Slab";
  border-bottom: 1px solid #b9b9b9;
}

.footer .about-us,
.footer .contact,
.footer .links {
  width: 31%;
  text-align: center;
}

.footer .about-us h3 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 1em;
}

.footer .about-us span {
  font-size: 0.8em;
}

.footer .about-us p {
  margin-top: 1.5em;
  line-height: 1.8;
  font-size: 0.9em;
}

.footer .contact .logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

.footer .contact p {
  line-height: 1.8;
  font-size: 0.9em;
}

.footer .contact .logo img {
  width: 100%;
  height: auto;
}

.footer .links {
  display: flex;
  flex-direction: column;
}

.footer .links a {
  line-height: 2;
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
  transition: 0.5s;
}

.footer .links a:hover {
  color: #b28564;
}

.last-words {
  padding-top: 4em;
  text-align: center;
  padding-bottom: 5em;
  color: #fff;
  font-family: "Roboto Slab";
}

.last-words p {
  font-size: 0.9em;
  font-weight: 400;
}

.last-words a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.last-words a:hover {
  color: #b28564;
}

.scrollup {
  position: fixed;
  right: 1em;
  bottom: -20%;
  padding: 1em;
  display: flex;
  text-decoration: none;
  background-color: #76470066;
  opacity: 0.9;
  border-radius: 8px;
  transition: 0.4s;
}

.scrollup-icon {
  color: #fff;
}

.scrollup:hover {
  background-color: #2f1c00;
  opacity: 0.7;
}

.scrollup:hover i {
  animation: animateArrow 0.5s ease-in-out infinite;
}

.show-scroll {
  bottom: 5em;
}

@keyframes animateArrow {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(5px);
  }

  66% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.header-variant-white {
  background: #fff;
  position: fixed;
  left: 0;
  top: -50%;
  /*display: block;*/
  transition: 0.4s;
  color: #181818;
  width: 100%;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  z-index: 3;
}

.header-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  font-family: "Roboto Condensed", sans-serif;
}

.header-white .links {
  display: flex;
  align-items: center;
}

.header-variant-white a,
.header-variant-white i {
  color: #181818;
  transition: 0.5s;
}

.header-variant-white i:hover {
  color: #b28564;
}

.show-menu {
  top: 0;
}

.images-wtext {
  padding: 4em 0;
}

.images-wtext .padding-image,
.images-wtext .full-image,
.images-wtext .text {
  width: 33.33%;
}

.images-wtext .full-image {
  align-self: stretch;
}

.images-wtext .padding-image {
  display: flex;
  justify-content: center;
}

.images-wtext .full-image {
  background-color: #efefef;
}

.images-wtext .full-image img {
  width: 85%;
}

.images-wtext .padding-image img {
  width: 80%;
}

.images-wtext .text {
  padding: 4em;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-wtext .text span {
  font-size: 1.3em;
  color: #b28564;
  font-family: "Roboto Slab";
}

.images-wtext .text h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 800;
  font-size: 3.1em;
  line-height: 1.2;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  color: #181818;
}

.images-wtext .text p {
  width: 80%;
  line-height: 1.8;
  color: #181818;
  font-weight: 400;
  font-size: 15px;
}

.human {
  display: flex;
  align-items: center;
  justify-content: center;
}

.human .text {
  width: 50%;
  padding: 0 2em;
}

.human .image {
  width: 50%;
}

.human .image img {
  width: 100%;
  height: auto;
}

.human h3 {
  font-size: 1.8em;
  letter-spacing: 2px;
  color: #181818;
  margin-bottom: 1em;
}

.human p {
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #181818;
  width: 80%;
  padding-bottom: 2em;
  border-bottom: 1px solid #b9b9b9;
}

.team {
  padding: 6em 0;
  font-family: "Roboto Slab";
}

.human .link {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.human a {
  color: #b28564;
  text-decoration: none;
  font-size: 0.8em;
  font-family: "Roboto Slab";
  font-weight: bold;
  transition: 0.4s ease;
}

.human a:hover {
  color: #181818;
}

.human .social-links i {
  margin-right: 0.5em;
}

.human:nth-child(2) {
  flex-direction: row-reverse;
}

.connoisseurs {
  padding: 6em 0;
  font-family: "Roboto Slab";
}

.connoisseurs h3 {
  font-size: 1.3em;
  margin-bottom: 1.5em;
  letter-spacing: 1px;
  color: #b28564;
}

.connoisseurs h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 1.5em;
  color: #181818;
}

.connoisseurs .header {
  display: flex;
  justify-content: space-between;
}

.connoisseurs .specific {
  width: 25%;
}

.specific .header h3 {
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.specific i {
  color: #b28564;
  font-size: 1.2em;
  font-weight: 800;
}

.specific p {
  line-height: 1.8;
  color: #181818;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 2em;
  border-bottom: 1px solid #b9b9b9;
}

.specific .footer-specific {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.specific .footer-specific h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.specific .footer-specific span {
  font-size: 0.7em;
  color: #181818;
  font-weight: 600;
}

.connoisseurs .feedback-first-row,
.connoisseurs .feedback-second-row {
  padding-bottom: 2em;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  justify-content: space-between;
}

.connoisseurs .feedback-second-row {
  border: none;
  padding-top: 5em;
}

.samples-of-beers {
  display: flex;
  justify-content: center;
  margin-top: 8em;
}

.samples-of-beer .one-beer {
  width: 25%;
}

.samples-of-beer .one-beer .beer-link {
  width: 40%;
}

.beer-link img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: 1s ease;
  z-index: 0;
}

.beer-link img:hover {
  transform: scale(1.3);
  z-index: 0;
}

.beer-link img:hover .text {
  color: #181818;
}

.one-beer .text {
  text-align: center;
  margin-top: 2.5em;
  font-family: "Roboto Condensed", sans-serif;
  color: transparent;
}

.one-beer h3 {
  font-size: 1em;
  font-weight: 800;
  color: #181818;
  letter-spacing: 1px;
}

.one-beer p {
  font-size: 0.9em;
  color: #b28564;
  font-weight: 600;
}

.parallax {
  display: flex;
  justify-content: center;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.parallax .end-words {
  text-align: center;
  padding: 6em 0;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

.end-words h3 {
  font-size: 1.3em;
  margin-bottom: 1.5em;
  color: #b28564;
}

.end-words h1 {
  font-size: 3.1em;
  margin-bottom: 1em;
  font-weight: 600;
}

.changeable-text {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.changeable-text .link {
  margin-bottom: 1.5em;
}

.changeable-text a {
  font-size: 4em;
  color: #b28564;
  transition: 0.4s ease;
}

.changeable-text a:hover {
  color: #fff;
}

.changeable-text p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 1.8;
  padding-bottom: 2em;
  border-bottom: 1px solid #b9b9b9;
}

.changeable-text img {
  margin: 2em 0;
}

.changeable-text h2 {
  color: #b28564;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em;
}

.changeable-text span {
  font-size: 0.9em;
}

.follow-us {
  text-align: center;
  padding-top: 8em;
}

.follow-us h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: #181818;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 1.5em;
}

.follow-us .social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.follow-us .social-links li {
  padding: 0 1em;
}

.follow-us .social-links a {
  font-size: 1.5em;
  font-weight: 600;
  color: #b28564;
  transition: 0.4s ease;
}

.follow-us .social-links a:hover {
  color: #181818;
}

.follow-us .image {
  width: 82%;
  margin-right: auto;
  margin-left: auto;
}

.show-image {
  bottom: 0;
}

.follow-us .image img {
  width: 100%;
}

.pictures .text-images img {
  width: 50%;
}

.formular-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6em 0;
}

.formular-text h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #181818;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  margin-bottom: 1em;
}

.formular-text p {
  font-family: "Roboto Slab", Arial, sans-serif;
  line-height: 1.8;
  color: #181818;
  width: 85%;
}

input,
textarea {
  border: 1px solid #b28564;
}

input {
  width: 49%;
  height: 50px;
  padding: 10px;
}

textarea {
  width: 98.5%;
  margin-top: 2px;
  padding: 10px;
  resize: vertical;
  min-height: 150px;
  max-height: 300px;
  transition: 0.2s;
}

.formular input:focus,
.formular textarea:focus {
  outline: 2px solid brown;
}

.formular button {
  width: 98.5%;
  margin-top: 0.5em;
  height: 50px;
  cursor: pointer;
  background: #fff;
  text-transform: uppercase;
  color: #b28564;
  border: 1px solid #b28564;
  font-weight: bold;
  transition: 0.5s;
}

.formular button:hover {
  color: #181818;
}

.formular-text,
.formular-element {
  width: 50%;
}

.product-review {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1em;
  margin: 4em 0;
}

.single-post {
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  width: 100%;
}

.single-post .image {
  width: 100%;
}

.single-post img {
  width: 100%;
}

.single-post .text {
  font-family: "Roboto Slab", Arial;
}

.single-post .price,
.single-post .name,
.single-post .country {
  margin-bottom: 0.7em;
}

.single-post h2 {
  font-weight: 600;
  font-size: 2em;
}

.single-post .link a {
  text-decoration: none;
  color: #b28564;
  padding: 0.5em;
  border: 1px solid #b28564;
  border-radius: 3px;
  display: block;
}

.login {
  position: absolute;
  right: 82px;
  display: flex;
  flex-direction: column;
  bottom: -53px;
}

.login.transparent {
  bottom: -53px;
}

.login a {
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  background: #b28564;
  font-family: "Roboto Condensed", sans-serif;
  transition: 0.5s;
}

.login-btn {
  margin-bottom: 0.2em;
}

.logout-btn {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.login-btn:hover,
.logout-btn:hover {
  background-color: #2f1c00;
}

@media screen and (max-width: 1300px) {
  .movable-products {
    flex-direction: column;
    text-align: center;
  }

  .parallax-middle {
    transform: scale(1.5);
  }

  .products .header p {
    width: 100%;
  }

  .movable-products .text,
  .movable-products .description-product,
  .movable-products .price,
  .movable-products .link {
    width: 100%;
    border: none;
  }

  .products .containerr {
    width: 95%;
  }

  .movable-products .link {
    border: 1px solid #b28564;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .story-in-the-beer .text,
  .story-in-the-beer .text h1 {
    width: 100%;
  }

  .pictures .text-images img {
    width: 36%;
  }
}

@media screen and (min-width: 1750px) {
  .all-products .image {
    width: 55%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .all-products {
    min-height: 750px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .all-products {
    min-height: 900px;
  }
}

@media screen and (min-width: 930px) and (max-width: 1000px) {
  .all-products {
    min-height: 800px;
  }
}

@media screen and (max-width: 900px) {
  .all-products {
    min-height: 650px;
  }

  .formular-wrapper {
    flex-direction: column;
  }

  .formular-text {
    text-align: center;
    width: 100%;

    margin-bottom: 1.5em;
  }

  .formular-text p {
    width: 100%;
  }

  .formular-element {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .modal {
    width: 100%;
  }

  .btn--close-modal {
    top: 0;
    right: 0.5rem;
  }
}

@media screen and (min-width: 840px) and (max-width: 900px) {
  .all-products {
    min-height: 750px;
  }
}

@media screen and (min-width: 700px) and (max-width: 840px) {
  .all-products {
    min-height: 700px;
  }
}

@media screen and (min-width: 250px) and (max-width: 1100px) {
  .products {
    padding-bottom: 4em;
    margin-bottom: 0;
  }

  .products .containerr {
    margin-bottom: 0;
  }

  .beer-up {
    flex-direction: column;
  }

  .beer-up .text {
    width: 100%;
  }

  .beer-up h1 {
    text-align: center;
  }

  .beer-up .image {
    margin-top: 3em;
    width: 80%;
  }

  .beer-up .image img {
    width: 140%;
    margin-left: -15em;
  }

  .beer-up .small-texts {
    display: contents;
  }

  .small-texts i {
    display: flex;
    align-items: center;
  }

  .small-texts section {
    margin-bottom: 2em;
  }

  .small-texts p {
    width: 100%;
  }

  .numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4em;
  }

  .gray .containerr {
    width: 95%;
  }

  .footer .about-us,
  .footer .contact {
    width: 100%;
    margin-bottom: 4em;
  }

  .footer .contact .logo {
    margin-bottom: 2em;
  }

  .parallax-no3 .containerr {
    width: 80%;
  }

  .all-products {
    flex-grow: 1;
  }

  .mov-mechanic .left-arrow {
    margin-right: 0;
  }

  .mov-mechanic .right-arrow {
    margin-left: 0;
  }

  .products .header h1 {
    font-size: 2em;
  }

  .beer-up .text h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1160px) {
  .paralax .header,
  .white-var.header {
    height: 100px;
  }

  .nav-links li:first-child {
    display: none;
  }
}

@media screen and (max-width: 1159px) {
  .paralax .header,
  .header-white {
    flex-wrap: wrap;
    max-height: 100px;
    overflow: hidden;
    transition: 0.5s ease;
    padding-bottom: 2em;
  }

  .login.transparent,
  .login {
    display: none;
  }

  .login {
    width: 100%;
    text-align: center;

    height: 20px;
    right: 0;
    bottom: 67%;
  }

  .login.transparent {
    bottom: 67%;
  }

  .header.expand,
  .header-white.expand {
    background: gray;
    max-height: 325px;
  }

  .header .links,
  .header-white .links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
  }

  .header .nav-links,
  .header-white .nav-links {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
  }

  .header .nav-links li,
  .header-white .nav-links li {
    padding: 0;
    margin-top: 6px;
    margin-right: 0;
  }
}

@media screen and (max-width: 950px) {
  .pictures .first-row,
  .pictures .second-row {
    flex-direction: column;
  }

  .pictures .full-image,
  .pictures .text-images {
    width: 100%;
  }

  .pictures .text-images {
    margin-bottom: 4em;
  }

  .pictures .text-images img {
    width: 25%;
  }

  .paralax.container {
    justify-content: flex-start;
  }

  .paralax.container .paralax-text {
    margin-left: 2em;
    padding-bottom: 4em;
  }

  .paralax.container h1 {
    min-width: 100%;
    font-size: 2.5em;
  }

  .leader {
    flex-direction: column;
  }
  .leader .image {
    max-width: 60%;
  }

  .leader .text {
    margin-left: 0;
    margin-top: 4em;
    max-width: 100%;
  }

  .crew .whole-crew {
    flex-direction: column;
  }

  .crew .specific-member {
    width: 100%;
    margin-bottom: 4em;
  }

  .melbourne {
    left: 5%;
    max-width: 250px;
  }

  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 930px) {
  .containerrr {
    width: 80%;
  }

  .human,
  .human:nth-child(2) {
    flex-direction: column;
  }

  .human:nth-child(2),
  .human:nth-child(3) {
    margin-top: 2em;
  }

  .human .text {
    width: 100%;
    text-align: center;
  }

  .human p {
    width: 100%;
  }

  .human .link {
    width: 100%;
  }

  .human .image {
    margin-top: 1em;
    width: 80%;
  }
}

@media screen and (max-width: 860px) {
  .connoisseurs .feedback-first-row,
  .connoisseurs .feedback-second-row {
    flex-direction: column;
  }

  .connoisseurs .specific {
    margin-top: 1em;
    width: 100%;
    padding-bottom: 2em;
    border-bottom: 1px solid #9fb1bd;
  }

  .connoisseurs .specific:nth-child(3) {
    border: none;
  }

  .specific p {
    border: none;
  }

  .samples-of-beers {
    flex-direction: column;
    margin-top: 2em;
  }

  .beer-link {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .one-beer {
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 530px) {
  .containerrr {
    width: 100%;
  }
  .map {
    display: flex;
    flex-direction: column;
  }

  .map iframe {
    height: 10em;
    align-self: stretch;
  }

  .melbourne {
    position: static;
    max-width: 100%;
    padding: 1em;
  }
}

@media screen and (max-width: 400px) {
  .connoisseurs h1 {
    font-size: 2.1em;
  }
}

@media screen and (min-width: 280px) and (max-width: 340px) {
  .header .logo img {
    width: 80%;
    height: 100px;
  }
}

@media screen and (min-width: 280px) and (max-width: 1320px) {
  .first-row,
  .second-row {
    flex-direction: column;
  }

  .images-wtext .padding-image,
  .images-wtext .full-image,
  .images-wtext .text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .images-wtext .padding-image img {
    width: 100%;
  }

  .images-wtext .text h1 {
    font-size: 2.1em;
  }
}

@media screen and (max-width: 500px) {
  .images-wtext .padding-image,
  .images-wtext .full-image,
  .images-wtext .text {
    width: 100%;
  }

  .beer-up .image img {
    margin-left: -10em;
  }

  .formular input {
    width: 100%;
    margin-bottom: 0.5em;
  }

  .formular textarea {
    width: 100%;
  }

  .formular button {
    width: 100%;
  }
}

@media screen and (max-width: 395px) {
  .changeable-text {
    width: 80%;
  }

  .end-words h1 {
    font-size: 2.1em;
  }

  .connoisseurs h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 340px) {
  .header-white .logo,
  .header .logo {
    width: 80%;
  }

  .header-white .logo img,
  .header .logo img {
    width: 100%;
    object-fit: contain;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 3rem 1rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.modal h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1em;
}

.modal__form label {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
  color: #464646;
}

.modal__form input {
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  width: 100%;
  border: 1px solid #b28564;
  transition: 0.5s;
  width: 270px;
}

.modal__form input:focus {
  outline-color: brown;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 2rem;
  font-size: 1.2em;
  padding: 0.5em 3em;
  cursor: pointer;
  color: #fff;
  background: #b28564;
  border-radius: 8px;
  border: none;
  transition: 0.5s;
}

.modal__form button:hover {
  background-color: #2f1c00;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
  color: #b28564;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.register-now {
  margin-top: 1em;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

.register-now a {
  color: #b28564;
}

.nav-links li:first-child {
  margin-bottom: 0.2em;
}

.nav-links .login-btn {
  padding: 0.4em 1em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  background: #b28564;
  font-family: "Roboto Condensed", sans-serif;
  transition: 0.5s;
}

.nav-links .login-btn:hover {
  background-color: #2f1c00;
  color: #fff;
}
